.img-orkut {
    height: 32px;
    width: 32px;
}

.brand-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.container-form {
    display: flex;
    background-color: var(--bg-cards);
    height: 488px;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 384px;
    margin-bottom: 1rem;
}

.title {
    font-size: 24px;
    color: var(--primary);
}

.flex-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 329px;
    gap: 1rem;
}

button {
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 18px;
    border-style: none;
    width: 100%;
    margin-top: 1rem;
}

.btn-signin {
    background-color: var(--primary);
    color: white;
}

.btn-signin:hover {
    background-color: var(--hover-primary);
    color: white;
}

.btn-signup {
    background-color: var(--input);
    color:var(--primary);
    margin-top: 0;
}

.btn-signup:hover{
    background-color: var(--hover-input);
    transition: 0.5s;
}

.input {
    padding: 0.5rem;
    height: 2.9rem;
    margin-top: 1rem;
    width: 21rem;
    font-size: 16px;
    border-style: none;
    border-radius: 8px;
    background-color: var(--input);
}


input::-webkit-input-placeholder{
    color: #868686;
    font-size: 16px;
}

.invalid-input {
    border-style:solid;
    border-color: red;
}
.errors {
    padding-top: 0.5rem;
    color: red;
}

.invalid-input:focus {
    box-shadow: none;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.checkbox input {
    height: 0;
    width: 0;
}

.checkbox {
    height: 19px;
    color: var(--placeholder);
    padding-left: 30px;
    display: block;
    position: relative;
    user-select: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.checkmarkPassword {
    position: absolute;
    top: 4px;
    left: 7px;
    height: 14px;
    width: 14px;
    border-radius: 4px;
    background-color: #dedbdb;
    border: 1px solid #c9c9c9;
}

.checkbox input:checked ~ .checkmarkPassword {
  background-color: var(--primary);
}

.password-flex {
    display: flex;
    margin-right: 45%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.anchor-password {
    color: var(--primary);

}

@media screen and (max-width: 1239px) {
    .btn-signin {
        margin-right: 15px;
        margin-left: 15px;
    }

    .btn-signup {
        margin-right: 15px;
        margin-left: 15px;
    }

    .description-input {
        padding-left: 10px;
    }
}

@media screen and (max-width: 1179px) {
    .container-form {
        margin-right: 20px;
    }
}

@media screen and (max-width: 420px) {
    .container-form {
        height: 544px;
        margin-right: 1rem;
        margin-left: 1rem;
        margin-top: 13%;
        width: calc(
            90% - 1px
          );
    }

    .input {
        width: 280px;
    }

    .invalid-input {
        width: 280px;
    }

    .password-flex {
        margin-right: 33%;
    }

    .btn-signin {
        width: 280px;     
    }

    .btn-signup {
        width: 280px;       
    }
}