.container  {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media screen and (max-width: 360px) {
    .container {
        padding-top: 6.5rem;
    }
}

@media screen and (max-height: 612px) {
    .container{
      padding-bottom: none;
    }
}
