.header {
  height: 92px;
  background-color: var(--bg-cards);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.brand {
  color: var(--primary);
  font-weight: 800;
  font-size: 36px;
  margin-top: 24px;
  margin-left: 230px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-information {
  display: flex;
  margin-right: 230px;
}

.information {
  margin-top: 24px;
  color: #4B4B4B;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

/* Criação da animação de diminuição */
@keyframes shrinkBrand {
  to {
    margin-left: 0px;
    /* Ajuste o valor para a posição final desejada */
  }
}

@media screen and (max-width: 768px) {
  .brand {
    animation: shrinkBrand 1.5s ease-in-out forwards;
    /* Utilizamos 'forwards' para manter a posição final */
  }

  .flex-information {
    display: none;
  }

  .flex {
    justify-content: center;
  }
}

ul {
  list-style: none;
}