:root {
  --primary: #ed6d25;
  --hover-primary: #fe9c63;
  --background: #d9e6f7;
  --placeholder: #868686;
  --input: #eff3f8;
  --hover-input: #dcdcdc;
  --bg-cards: #FDFEFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: RobotoFlex;
}

body {
  background-color: var(--background);
  font-family: RobotoFlex;
}


button {
  cursor: pointer;
}

@font-face {
  font-family: RobotoFlex;
  src: url(./fonts/RobotoFlex-Regular.ttf);
}